spring:
  application:
    name: order-service
  cloud:
    config:
      override-none: true
  rabbitmq:
    host: 192.168.64.140
    port: 5672
    username: admin
    password: admin
server:
  port: 8201
  
  
eureka:
  client:
   service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka
    
feign:
  hystrix:
    enabled: true
management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream
ribbon:
  MaxAutoRetriesNextServer: 2 #单鹄寡凫
  MaxAutoRetries: 1 
  OkToRetryOnAllOperations: true 
        